doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="/css/index.css")
  body
    #root
    +script([
      {name: "@loadingio/ldquery"},
      {name: "shaderlib", version: "dev"},
      {url: "/js/index.js"}
    ])
