doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="/css/index.css")
  body
    #root
      //.box
      //.box
    script(src="/assets/lib/glslify/main/index.js")
    script(src="/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    script(src="/js/shader.js")
    script(src="/js/index.js")
