doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    #root
      //.box
      //.box
    script(src="ldquery.min.js")
    script(src="shader.js")
    script(src="bundle.js")
